*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
}
h1{
    padding-top: 10px;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}
.heading{
    width:100%;
    padding: 30px;
    background-color: rgb(255, 218, 224);
    display: flex;
    flex-direction: row;
    z-index:1;
}
.otherdet{
    position: absolute;
    right: 0;
}

.products{
    margin:10px;
    padding:30px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.biditems{
    margin : 10px;
    padding: 10px;
    width:270px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px lightgray;
}

 .biditems:hover{
    /* box-shadow: 0px 0px 5px 5px lightgray; */
    border: 2px solid blue 
}

img{
    display:flex;
    align-items: center;
    width:250px;
    height:190px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px;
}

p.livauc{
    background-image: linear-gradient(to right , green,lightgreen);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:45%;
}

p{
    color:black;
    margin:5px;
    padding:5px;
}

.amnt{
    margin-right:2px;
    margin-left:50px;
}

button.bidbut{
    margin:10px;
    padding:10px;
    background-image: linear-gradient(to right , rgb(224, 79, 79) , rgb(96, 211, 250));
    color: white;
    font-weight: 400;
    font-size: large;
    border-radius: 5px;
}

button.bidbut:hover{
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}

button.otherbut{
    background-color:  rgb(255, 218, 224);
    outline: none;
    border: none;
    font-weight: 500px;
    padding:10px;
    margin:10px;
    font-size: large;
}
button.otherbut{
    cursor:pointer;
}

.welcomemsg{
    font-size:24px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 40px;
}

span{
    color:rgb(58, 58, 238)
}

.loaddiv{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.loadbut{
    padding:10px;
    margin:20px;
    background-image: linear-gradient(to right,rgb(52, 101, 248),rgb(99, 157, 238));
    color:white;
    border-radius: 5px;
}

button:hover{
    box-shadow: 5px 5px 5px lightgray;
    cursor:pointer;
}

.search-bar{
    width:100%;
    display: flex;
    align-items: right;
    justify-content:end;
}

input{
    border-radius: 8px;
    padding: 12px 10px;
    margin: 20px 50px;
    width:400px;
    outline: none;
} 

 .dropdown-content {
    display:flex;
    flex-direction:column;
    position: absolute;
    top:80px;
    right:0;
    width:200px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    text-align: center;
}

.dropdown-content button{
    padding:9px;
    background-color:  rgb(255, 218, 224);
    outline: none;
    border: none;
    padding:10px;
    font-size: large;

}

.dropdown-content button:hover{
    background-color:  rgb(247, 184, 194);
    cursor: pointer;
    border-radius: 10px;
}

button.otherbut:hover{
    background-color:  rgb(247, 184, 194);
    border-radius: 10px;
}


